<strong>Olá, Maria.</strong>
<p>Você registrou um novo usuário na plataforma, você pode checar diretamente na sua lista de usuários</p>
<p>
  <strong>O nome do usuário é:</strong> {{ user }} <br />
  <small>Caso você não tenha registrado esse usuário, envie um email para oi@support.com</small>
</p>
